.header_index {
	background-image: url(../img/header-index-bg.png);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	@include breakpoint(max-width 1200px) {
		background-position-x: 42%;
	}

	@include breakpoint(max-width 1023px) {
		background-position-x: 48%;
	}

	@include breakpoint(max-width 767px) {
		background: none;
		background-color: #F4F4F4;
	}
}

.calculator__title {
	font-size: 24px;
}

.mine__desc {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 296px;
	margin-top: 35px;
	z-index: 2;

	@include breakpoint(max-width 767px) {
		height: auto;
		margin-top: 20px;
	}

	.mine__title {
		width: 463px;
		padding-top: 25px;
		font-size: 48px;
		font-weight: normal;
		line-height: 56px;

		@include breakpoint(max-width 1023px) {
			max-width: 300px;
			width: 100%;
			font-size: 36px;
			line-height: 1;
		}

		@include breakpoint(max-width 767px) {
			padding-top: 0;
			font-family: $montserrat;
			font-size: 20px;
			line-height: 1.2;
			text-align: center;
		}
	}

	@include breakpoint(max-width 1200px) {
		.mine__farm {
			position: absolute;
			right: -100px;
		}
	}

	@include breakpoint(max-width 767px) {
		.mine__farm {
			display: none;
		}
	}
}

.mine__calculator {
	position: relative;
	top: -47px;
	display: flex;
	flex-direction: column;
	padding: 26px 0;
	padding-right: 47px;
	padding-left: 32px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

	@include breakpoint(max-width 1024px) {
		padding-right: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
	}

	@include breakpoint(max-width 767px) {
		top: 0;
		margin-top: 35px;
		padding: 10px;
	}

	.calculatio__title {
		font-size: 24px;
		
		@include breakpoint(max-width 767px) {
			font-size: 18px;
		}
	}

	.calculator__filter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 27px;

		@include breakpoint(max-width 1024px) {
			flex-wrap: wrap;
			margin-top: 22px;
		}

		.filter__buttons {
			display: flex;
			justify-content: flex-start;
			margin-right: 10px;
			
			@include breakpoint(max-width 1200px) {
				width: 370px;
			}

			@include breakpoint(max-width 1023px) {
				width: 100%;
			}
		}

		.filter__button {
			padding: 10px 35px;
			background-color: white;
			border: 1px solid #EBECF0;
			cursor: pointer;

			@include breakpoint(max-width 1200px) {
				padding: 10px;
			}
		}

		.filter__button:first-child {
			border-right: none;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		.filter__button:last-child {
			border-left: none;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		.active_btn {
			color: white;
			background-color: #92278F;
			border: 1px solid #92278F;
		}
	}

	.calculator__desc {
		display: none;

		@include breakpoint(max-width 767px) {
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
		}

		.calculator__desc_block {
			width: 260px;
			margin-top: 27px;
			padding-top: 27px;
			padding-bottom: 34px;
			padding-left: 29px;

			@include breakpoint(max-width 1023px) {
				margin-top: 15px;
				padding-right: 10px;
				padding-left: 15px;
			}

			@include breakpoint(max-width 767px) {
				width: 100%;
				margin-top: 0;
				padding: 12px 16px;

				br {
					display: none;
				}
			}

			&:first-of-type {
				background-color: #580056;

				@include breakpoint(max-width 767px) {
					margin-top: 15px;
				}
			}

			&:nth-of-type(2) {
				background-color: #6C0469;
			}

			&:nth-of-type(3) {
				background-color: #790276;
			}

			&:last-of-type {
				background-color: #92278F;
			}

			p {
				font-size: 13px;
				color: #E8EAEC;

				@include breakpoint(max-width 767px) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				span {
					font-size: 24px;
					font-family: $montserratLight;
					color: white;

					@include breakpoint(max-width 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}
}

.header__pros {
	.container {
		display: flex;
		justify-content: space-between;

		@include breakpoint(max-width 1023px) {
			flex-wrap: wrap;
			max-width: 100%;
		}

		@include breakpoint(max-width 767px) {
			margin-top: 16px;
			padding: 16px 10px;
			background-color: white;
		}
	}
}

.pension {
	display: flex;
	justify-content: space-between;
	max-width: 544px;
	width: 100%;
	height: 256px;
	padding-top: 20px;
	padding-right: 16px;
	padding-left: 32px;
	background-color: #92278F;

	@include breakpoint(max-width 1200px) {
		max-width: 465px;
		padding-right: 0;
		padding-left: 24px;
	}

	@include breakpoint(max-width 1023px) {
		max-width: 100%;
	}

	@include breakpoint(max-width 767px) {
		padding-left: 15px;
	}

	.pension__desc {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 14px;

		h4 {
			font-family: $montserratLight;
			font-size: 23px;
			color: white;
			line-height: 1;

			@include breakpoint(max-width 1200px) {
				position: absolute;
				width: 250px;
			}
		}

		p {
			margin-top: 20px;
			font-size: 15px;
			color: white;
			line-height: 1.25;

			@include breakpoint(max-width 1200px) {
				margin-top: 70px;
			}

			@include breakpoint(max-width 767px) {
				width: 150px;
			}
		}

		a {
			width: 145px;
			margin-top: 40px;
			padding: 10px 0;
			font-family: $montserrat;
			font-size: 15px;
			color: #3B424B;
			text-align: center;
			text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
			background-color: white;

			@include breakpoint(max-width 1200px) {
				margin-top: 20px;
			}

			@include breakpoint(max-width 767px) {
				margin-top: 30px;
			}
		}
	}

	.pension__img {
		align-self: flex-end;

		@include breakpoint(max-width 767px) {
			position: absolute;
			right: 10px;
			width: 175px;
			height: 160px;
		}
	}
}

.tarifs,
.tablet {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 256px;
	height: 256px;
	padding-top: 29px;
	padding-right: 55px;
	padding-left: 24px;

	@include breakpoint(max-width 1200px) {
		width: 225px;
		padding-right: 30px;
		padding-left: 15px;
	}

	@include breakpoint(max-width 1023px) {
		width: 49%;
		margin-top: 15px;
		padding-left: 30px;
	}

	@include breakpoint(max-width 767px) {
		width: 100%;
		margin-top: 10px;
	}

	h4 {
		width: 100%;
		font-family: $montserrat;
		font-size: 20px;
		line-height: 1;
	}

	p {
		width: 100%;
		line-height: 1.25;
	}

	img {
		align-self: flex-end;

		@include breakpoint(max-width 1200px) {
			margin-left: 30px;
		}

		@include breakpoint(max-width 1023px) {
			margin-left: 0;
		}
	}
}

.tarifs {
	background-color: #F4F4F4;

	p {
		margin-top: 10px;
	}	
}

.tablet {
	padding-right: 25px;
	background-color: #3B424B;

	@include breakpoint(max-width 1200px) {
		padding-right: 5px;

		img {
			margin: 0 auto;
		}
	}

	@include breakpoint(max-width 1023px) {
		img {
			margin-right: auto;
			margin-left: 0;
		}
	}

	h4, p {
		color: white;
	}
}