.page__title {
	margin-top: 63px;

	@include breakpoint(max-width 767px) {
		margin-top: 20px;
	}
}

.about {
	margin-top: 20px;

	.purple {
		color: #82357E;
	}

	.footer__contacts  {
		padding-top: 126px;
	}
}

.about__group {
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	background-color: white;
	border-left: 7px solid #92278F;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
		box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

	@include breakpoint(max-width 767px) {
		padding-top: 20px;
		padding-left: 23px;
		padding-bottom: 0;
		border-left-width: 4px;
	}

	.group__title {
		font-family: $montserrat;
		font-size: 24px;

		@include breakpoint(max-width 767px) {
			font-size: 18px;
		}
	}
}

.about__groups {
	display: flex;
	align-items: center;
	margin-top: 35px;

	@include breakpoint(max-width 1023px) {
		flex-wrap: wrap;
		margin-top: 10px;
	}

	.groups__text {
		max-width: 230px;
		margin-right: 50px;
		font-family: $montserrat;
		font-size: 20px;
		line-height: 1.2;

		@include breakpoint(max-width 1023px) {
			max-width: 100%;
		}

		@include breakpoint(max-width 767px) {
			font-size: 16px;
		}
	}

	.about__bull {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 220px;
		height: 150px;
		margin-right: 40px;
		padding-right: 30px;
		border-right: 1px solid #E5E5E5;

		@include breakpoint(max-width 1200px) {
			margin-right: 20px;
			padding-right: 20px;
		}

		@include breakpoint(max-width 1023px) {
			width: 30%;
			margin-top: 35px;
		}

		@include breakpoint(max-width 767px) {
			flex-wrap: nowrap;
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #E5E5E5;

			img {
				width: 95px;
				margin-right: 35px;
			}
		}

		&:last-child {
			margin-right: 0;
			border-right: none;
			border-bottom: none;
		}

		.group__desc {
			height: 60px;
			font-family: $montserrat;
			line-height: 1.25;

			br {
				display: none;
			}

			@include breakpoint(max-width 767px) {
				width: 144px;
				height: auto;
				font-size: 13px;

				br {
					display: inline;
				}
			}
		}
	}
}

.about__us {
	p {
		font-size: 18px;

		@include breakpoint(max-width 1200px) {
			font-size: 15px;
		}
	}

	.retailer__title {
		margin-right: 30px;

		@include breakpoint(max-width 767px)  {
			width: 100%;
			margin-top: 20px;
			margin-right: 0;
		}

		p {
			font-family: $montserratBlack;
			font-size: 72px;
			line-height: 1;
			color: #788089;
			opacity: 0.3;
			text-transform: uppercase;

			@include breakpoint(max-width 767px) {
				font-family: $montserratLight;
				font-size: 24px;
				color: #37383E;
				text-align: center;
				text-transform: none;
				opacity: 1;

				br {
					display: none;
				}

				strong {
					font-weight: normal;
				}
			}
		}
	}
}

.about__position {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 120px;

	@include breakpoint(max-width 1023px) {
		margin-top: 50px;
	}

	@include breakpoint(max-width 767px) {
		margin: 0 -10px;
		margin-top: 30px;
		background-color: white;
		background-image: url(../img/mark.svg);
		background-repeat: no-repeat;
		background-position: calc(100vw - 65px) 5px;
		background-size: contain;
	}

	.about__position_img {
		max-width: 520px;
		width: 100%;
		margin-right: 115px;

		@include breakpoint(max-width 1023px) {
			min-width: 400px;
			margin-right: 25px;
			margin-left: -25px;
		}

		@include breakpoint(max-width 767px) {
			display: none;
		}
	}

	.position__desc {
		margin-top: 50px;

		@include breakpoint(max-width 767px) {
			margin-top: 30px;
			padding: 0 17px;
			padding-bottom: 30px;
		}

		p {
			font-family: $montserrat;
			font-size: 18px;
			margin-top: 30px;

			@include breakpoint(max-width 767px) {
				font-size: 16px;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.about__retailer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
	}

	.retailer__desc {
		width: 330px;
		padding-bottom: 25px;

		@include breakpoint(max-width 1023px) {
			position: absolute;
			left: 3px;
			padding-bottom: 0;
		}

		@include breakpoint(max-width 767px) {
			position: static;
			width: 100%;
			margin-top: 20px;
		}

		p {
			margin-top: 30px;
			font-family: $montserrat;
			font-size: 18px;

			@include breakpoint(max-width 767px) {
				margin-top: 0;
				font-size: 16px;
				line-height: 1.5;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.retailer__farms {
	position: relative;
	right: -20px;
	min-width: 442px;
	height: 282px;

	@include breakpoint(max-width 1200px) {
		max-width: 450px;
		margin-right: -120px;
	}
	@include breakpoint(max-width 1023px) {
		margin-right: -50px;
	}

	@include breakpoint(max-width 767px) {
		position: static;
		max-width: 100%;
		min-width: inherit;
		height: auto;
		margin-top: 20px;
		margin-right: 0;
	}

	img {
		width: 100%;

		@include breakpoint(max-width 767px) {
			display: none;
		}
	}

	.retailer__farms_text {
		position: absolute;
		top: 50%;
		left: 60px;
		max-width: 220px;
		width: 100%;
		font-family: $montserrat;
		font-size: 18px;
		color: white;
		transform: translateY(-50%);

		@include breakpoint(max-width 767px) {
			position: static;
			max-width: 100%;
			padding-top: 30px;
			padding-right: 30px;
			padding-bottom: 40px;
			padding-left: 20px;
			background-color: #92278f;
			transform: translateY(0);
		}

		span {
			font-family: $montserratLight;
			font-size: 48px;

			@include breakpoint(max-width 767px) {
				font-size: 24px;
			}
		}
	}
}

.about__delivery {
	position: relative;
	top: -25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 45px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
		position: static;
		margin-top: 15px;
		padding: 15px 22px;

		img {
			display: block;
			margin-left: auto;
		}
	}

	p {
		max-width: 800px;
		width: 100%;
		font-family: $montserrat;
		font-size: 18px;
		line-height: 1.33;

		@include breakpoint(max-width 1024px) {
			max-width: 580px;
		}

		@include breakpoint(max-width 767px) {
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

.gallery {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #3B424B;

	@include breakpoint(max-width 767px) {
		padding: 30px 0;
	}

	.container {
		display: flex;

		@include breakpoint(max-width 767px) {
			flex-wrap: wrap;
		}
	}

	figure {
		img {
			width: 100%;
		}

		figcaption {
			margin-top: 20px;
			color: white;

			@include breakpoint(max-width 767px) {
				margin-top: 7px;
			}
		}
	}

	.gallery__dir {
		max-width: 350px;
		width: 100%;
		margin-right: 35px;
		margin-left: 95px;

		@include breakpoint(max-width 1200px) {
			max-width: 300px;
			margin-left: 0;
		}

		@include breakpoint(max-width 1023px) {
			max-width: 250px;
			margin-right: 25px;
		}

		@include breakpoint(max-width 767px) {
			max-width: 100%;
			margin-right: 0;
		}

		figcaption {
			max-width: 240px;
		}
	}

	.gallery__factory {
		max-width: 622px;
		width: 100%;
		margin-right: 20px;

		@include breakpoint(max-width 1200px) {
			max-width: 536px;
			margin-right: 0;
		}

		@include breakpoint(max-width 1023px) {
			max-width: 445px;
		}

		@include breakpoint(max-width 767px) {
			max-width: 100%;
			margin-top: 30px;
		}

		figcaption {
			max-width: 500px;
			width: 100%;
		}
	}
}

.about__locate {
	background-color: white;

	@include breakpoint(max-width 767px) {
		padding-bottom: 20px;
	}

	.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include breakpoint(max-width 767px) {
			flex-wrap: wrap;
		}
	}
}

.locate__desc {
	position: relative;
	top: -55px;
	padding-top: 100px;
	padding-right: 115px;
	padding-bottom: 125px;
	padding-left: 80px;
	font-size: 20px;
	line-height: 1.3;
	border: 6px solid #92278F;
	border-right: none;

	@include breakpoint(max-width 1200px) {
		position: static;
	}

	@include breakpoint(max-width 1023px) {
		padding-top: 65px;
		padding-right: 10px;
		padding-bottom: 70px;
		padding-left: 35px;
	}

	@include breakpoint(max-width 767px) {
		margin-top: 15px;
		padding: 30px 20px;
		padding-bottom: 200px;
		font-size: 16px;
		border: 6px solid #92278F;
	}
}

.locate__dir {
	position: relative;
	display: flex;
	max-width: 445px;
	width: 100%;
	margin-top: -55px;

	@include breakpoint(max-width 1200px) {
		margin-top: 40px;
	}

	@include breakpoint(max-width 1023px) {
		margin-top: 15px;
	}

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap-reverse;
		width: 90%;
		margin: 0 auto;
		margin-top: -170px;
	}

	img {
		width: 100%;
		box-shadow: 0 15px 33px 0 rgba(153,130,161,0.55);
	}

	figcaption {
		position: absolute;
		bottom: 20px;
		left: -230px;
		text-align: right;

		@include breakpoint(max-width 767px) {
			position: static;
			margin-top: 20px;
			text-align: left;
		}
	}
}

.about__docs {
	.container {
		display: flex;
		justify-content: space-between;
	}
}

.about__docs_desc {
	max-width: 250px;

	@include breakpoint(max-width 1023px) {
		max-width: 100%;
	}

	p {
		margin-top: 40px;

		@include breakpoint(max-width 1023px) {
			margin-top: 10px;
		}
	}
}

.provider_about {
	position: relative;
	top: 80px;
	margin-top: -30px;

	.provider__desc {
		justify-content: space-between;
		margin-top: 0;
		padding: 70px 50px;
		background-color: white;
		box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

		@include breakpoint(max-width 1200px) {
			padding: 45px 20px;
			padding-right: 16px;
		}

		@include breakpoint(max-width 1023px) {
			padding: 20px;

			img {
				width: 112px;
				height: 161px;
			}
		}
	}

	.provider__serts {
		position: relative;
		margin-right: -20px;
		margin-left: -20px;

		.provider__serts-overlay {
			display: none;

			@include breakpoint(max-width 767px) {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: calc(100vw - 20px);
				height: 100%;
				background: -webkit-radial-gradient(left,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 0,-webkit-radial-gradient(right,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 100%;
				background-size: 10px 100%,10px 100%;
				background-attachment: scroll,scroll;
				background-repeat: no-repeat;
				z-index: 2;
			}
		}
	}
}