.catalogue-pre__container {

	.catalogue__slide {
		display: none;
	}

	@include breakpoint(max-width 1023px) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.catalogue__slide {
			display: block;
			width: 48%;
			margin-top: 20px;
			margin-left: 0;

			&:nth-child(-n + 2) {
				margin-top: 0;
			}
		}

		.catalogue-pre__block {
			display: none;
		}
	}

	@include breakpoint(max-width 767px) {
		justify-content: space-around;

		.catalogue__slide {
			width: 340px;
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@include breakpoint(max-width 400px) {
		.catalogue__slide {
			width: 100%
		}
	}
}

.catalogue-pre__title {
	&::after {
		content: attr(data-number);
		position: relative;
		bottom: 7px;
		width: 38px;
		height: 38px;
		margin-left: 20px;
		padding: 0 10.2px;
		font-size: 28px;
		color: white;
		background-color: #92278F;
		background-repeat: no-repeat;
		border-radius: 50%;

		@include breakpoint(max-width 767px) {
			bottom: 3px;
			margin-left: 10px;
			padding: 0px 7.4px;
			font-size: 20px;
		}
	}
}

.catalogue-pre__block {
	display: flex;
	margin-top: 30px;
	border: 1px solid #EBECF0;
	border-right: none;
	border-radius: 4px;
	overflow: hidden;

	@include breakpoint(max-width 1023px) {
		flex-wrap: wrap;
	}

	&:hover {
		box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
	}
}

.catalogue-pre__block-main {
	width: calc(100% - 355px);
	padding-top: 33px;
	padding-right: 30px;
	padding-bottom: 45px;
	padding-left: 40px;
	background-color: white;

	@include breakpoint(max-width 1200px) {
		width: calc(100% - 290px);
		padding-right: 10px;
	}

	@include breakpoint(max-width 1023px) {
		width: 100%;
		padding: 25px;
	}

	@include breakpoint(max-width 767px) {
		padding: 10px;
	}

	.catalogue-pre__block-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.crypto-img {
		display: flex;

		@include breakpoint(max-width 767px) {
			position: absolute;
			top: 60px;
			right: 20px;
			flex-direction: column;
			align-items: center;
		}

		img {
			margin-right: 30px;

			@include breakpoint(max-width 1200px) {
				margin-right: 15px;
			}

			@include breakpoint(max-width 767px) {
				margin-top: 10px;
				margin-right: 0;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.catalogue-pre__block-nav {
	@include breakpoint(min-width 1024px) {
		display: none;
	}

	@include breakpoint(max-width 1023px) {
		display: block;
		padding-left: 25px;
	}

	@include breakpoint(max-width 767px) {
		padding-left: 10px;
	}

	.modal__nav {
		margin-right: 60px;
		padding: 5px 0;
		background-color: transparent;
		border: none;
		border-bottom: 4px solid transparent;
		cursor: pointer;

		@include breakpoint(max-width 767px) {
			margin-right: 20px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.modal__nav_active {
		border-color: #92278F;
	}
}

.catalogue-pre__product {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
	}

	.product__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 235px;
		height: 160px;
	}

	.catalogue-pre__product-desc {
		width: 380px;
		line-height: 1.3;

		@include breakpoint(max-width 1200px) {
			width: 320px;
		}

		@include breakpoint(max-width 767px) {
			width: 100%;
		}
	}
}

.catalogue-pre__table {
	@include breakpoint(max-width 1023px) {
		display: none;
		width: 100%;
		padding: 25px
	}
}

.catalogue-pre__block-aside {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
    width: 355px;
	background-color: #F4F4F4;

	@include breakpoint(max-width 1200px) {
		width: 290px;
	}

	@include breakpoint(max-width 1023px) {
		width: 100%;
	}

	.catalogue-pre__table.tabcontent {
		display: none;

		@include breakpoint(max-width 1023px) {
			display: block;
		}
	}
}

.aside__content,
.catalogue-pre__return {
	width: 100%;
}

.catalogue-pre__return {
	@include breakpoint(max-width 1023px) {
		display: none;
	}
}

.aside__content {
	padding: 0 25px;

	@include breakpoint(max-width 1200px) {
		padding-right: 12px;
	}

	@include breakpoint(max-width 767px) {
		padding: 0 10px;
	}
}

.catalogue-pre__aval,
.catalogue-pre__number,
.catalogue-pre__cost,
.catalogue-pre__service {
	width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #E5E5E5;

    @include breakpoint(max-width 767px) {
    	padding: 15px 0;
    }
}

.not-in-stock {
	p {
		width: 100%;
		margin-top: 6px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.not-in-stock,
.prepay {
    display: none;
}

.in-stock {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	img {
		margin-right: 5px;
	}
}

.catalogue-pre__number {
	padding-bottom: 0;
	border-bottom: none;
	@include breakpoint(max-width 1023px) {
		display: flex;
		justify-content: space-between;
	}

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
	}
}

.catalogue-pre__number-preorder {
	display: flex;

	.quantity {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include breakpoint(max-width 1023px) {
			display: block;
		}
	}

	.catalogue-pre__number-count {
		display: flex;
		align-items: center;
		width: 105px;
		height: 40px;
		margin-top: 5px;
	}

	.minus,
	.plus,
	.minus-p,
	.plus-p {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;
		height: 100%;
		background-color: white;
		border: 1px solid #EBECF0;
		cursor: pointer;
		img {
			width: 14px;
		}
		
	}

	.minus,
	.minus-p {
		border-right: none;
		border-top-left-radius: 4px; 
		border-bottom-left-radius: 4px; 
	}

	.plus,
	.plus-p {
		border-left: none;
		border-top-right-radius: 4px; 
		border-bottom-right-radius: 4px; 
	}

	input {
		display: block;
		height: 100%;
		width: 40%;
		padding: 0;
		color: #4a4a4a;
		text-align: center;
		border: none;
		border-top: 1px solid #EBECF0;
		border-bottom: 1px solid #EBECF0;
	}
}

.catalogue-pre__prepay {
	.not-in-stock {
		display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	}

	.in-stock,
	.catalogue-pre__number-buy {
		display: none;
	}

	.quantity {
		display: block;
		width: auto;
		margin-right: 40px;

		@include breakpoint(max-width 1200px) {
			margin-right: 27px;
		}
	}

	.prepay,
	.catalogue-pre__cost {
		display: block;
	}
}

.catalogue-pre__number-buy {
	display: flex;
	margin-top: 20px;
	padding-top: 25px;
	border-top: 1px solid #E5E5E5;

	@include breakpoint(max-width 1200px) {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@include breakpoint(max-width 1023px) {
		width: calc(100vw - 200px);
		margin-top: 0;
		padding-top: 0;
		border: none;
	}

	@include breakpoint(max-width 767px) {
		width: 100%;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #E5E5E5;
	}

	.catalogue-pre__number-price {
		margin-top: 7px;
		font-family: $montserrat;
		font-size: 20px;

		@include breakpoint(max-width 1023px) {
			margin-top: 10px;
		}
	}

	.catalogue-pre__buy {
		padding-right: 30px;
		border-right: 1px solid #E5E5E5;

		@include breakpoint(max-width 1200px) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-right: 0;
			padding-bottom: 23px;
			border-right: none;
			border-bottom: 1px solid #E5E5E5;
		}

		@include breakpoint(max-width 1023px) {
			justify-content: flex-start;
			align-items: flex-start;
			width: 48%;
			padding: 0;
			border: none;
		}

		@include breakpoint(max-width 767px) {
			width: 100%;
			padding-bottom: 15px;
			border-bottom: 1px solid #E5E5E5;
		}

		.buy-button {
			display: block;
			width: 110px;
			margin-top: 12px;
			padding: 10px 0;
			font-family: $montserrat;
			color: white;
			text-align: center;
			border-radius: 2px;
			background-color: #92278F;
			box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
			cursor: pointer;
		}

	}

	.catalogue-pre__rent {
		padding-left: 30px;

		@include breakpoint(max-width 1200px) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-top: 23px;
			padding-left: 0;
		}

		@include breakpoint(max-width 1023px) {
			justify-content: flex-start;
			align-items: flex-start;
			width: 48%;
			padding: 0;
		}

		@include breakpoint(max-width 767px) {
			width: 100%;
			padding-top: 15px;
		}

		.rent__btn {
			width: 130px;
			margin-top: 12px;
			padding: 9px 0;
			font-family: $montserrat;
			color: #3B424B;
			text-align: center;
			border: 1px solid #92278F;
			border-radius: 2px;
			background-color: #FFFFFF;
			cursor: pointer;
		}
	}

	.catalogue-pre__buy-cost {
		white-space: nowrap;

		@include breakpoint(max-width 1023px) {
			margin-right: 30px;
		}
	}
}

.catalogue-pre__cost {
	display: none;
	margin-top: 25px;
	border-top: 1px solid #e5e5e5;

	.catalogue-pre__cost-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(max-width 1023px) {
			justify-content: flex-start;
		}
	}

	.preorder__btn {
		display: block;
		width: 155px;
		padding: 10px 0;
		color: white;
		text-align: center;
		background-color: #92278F;
		border: none;
		border-radius: 2px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
		cursor: pointer;

		@include breakpoint(max-width 1200px) {
			width: 135px;
		}
	}
	.price {

		@include breakpoint(max-width 1023px) {
			margin-right: 20px;
		}

		.greytext {
			text-decoration: line-through;
		}

		.price__number {
			font-size: 20px;
		}
	}
}

.catalogue-pre__service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;

	@include breakpoint(max-width 1023px) {
		justify-content: flex-start;
	}

	.catalogue-pre__service-rent {
		font-size: 18px;

		@include breakpoint(max-width 1023px) {
			margin-left: 50px;
		}
	}
}

.return-rate,
.recoupment,
.after-year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 15px 30px;
	font-family: $montserratLight;
	font-weight: normal;
	color: white;
}

.return-rate {
	background-color: #6C0469;
}

.recoupment {
	background-color: #790276;
}

.after-year {
	background-color: #92278F;
}

.return-rate__number,
.recoupment__number {
	font-size: 20px;
}

.after-year__number {
	font-size: 24px;
}

.catalogue-pre__pension {
	margin-top: 64px;
}
