.page-wrap {
	background-image: url(../img/header-bg.png);
	background-position-x: center;
	background-repeat: no-repeat;
}

.news__more {
	padding-top: 45px;
	padding-bottom: 70px;
	background-color: white;

	.news__more_button {
		display: block;
		width: 145px;
		padding: 10px 0;
		margin: 0 auto;
		color: #3B424B;
		background-color: white;
		border: 1px solid #92278F;
		border-radius: 2px;
		cursor: pointer;
	}
}

.news__block_border {
	border: 1px solid white;
	border-top: none;
	border-left: none;

	&:nth-child(3n) {
		border-right: none;
	}
}