.catalogue-index {
	position: relative;
	margin-top: 70px;
	padding-top: 140px;
	padding-bottom: 60px;
	background-image: url(../img/catalogue-index.png);
	background-size: cover;
	background-repeat: no-repeat;

	@include breakpoint(max-width 767px) {
		margin-top: 0;
		padding: 15px 0;
		background: linear-gradient(270deg, #92278F 0%, #580056 100%);
	}

}

.catalogue-index__head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@include breakpoint(max-width 767px) {
		align-items: center;
	}

	h2 {
		color: white;
	}

	.catalogue-index__nav {
		position: relative;
		width: 123px;
		height: 61px;

		@include breakpoint(max-width 767px) {
			width: 84px;
			height: 40px;
		}
	}
}

.down {
	position: absolute;
	top: 22px;
	left: calc(50% - 40px);

	@include breakpoint(max-width 1200px) {
		top: -5px;
	} 

	@include breakpoint(max-width 767px) {
		display: none;
	}
}

.catalogue__slider {
	margin: 0 -16px;
	margin-top: 18px;

	@include breakpoint(max-width 1200px) {
		margin-right: -8px;
		margin-left: -8px;
	}

	@include breakpoint(max-width 767px) {
		margin-top: 10px;
	}
}

.catalogue__slide {
	margin: 0 16px;
	background-color: white;
	border: 1px solid #EBECF0;
	border-radius: 2px;
	transition: box-shadow 0.2s;

	@include breakpoint(max-width 1200px) {
		margin: 0 8px;
	}

	&:hover {
		box-shadow: 0 7px 15px 0 rgba(102,35,100,0.38);
		transition: box-shadow 0.2s;

		.farm-title {
			color: #92278F;
		}

		.buy-button {
			box-shadow: 0 3px 6px 0 rgba(95,26,93,0.5);
			transition: box-shadow 0.2s;
			cursor: pointer;
		}
	}
}

.catalogue__slide_header {
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 46px;

	@include breakpoint(max-width 767px) {
		padding-left: 20px;
	}

	.slide__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 260px;
		height: 176px;
		margin-right: 10px;

		@include breakpoint(max-width 767px) {
			width: 220px;
			height: 149px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.cripto-icons {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			margin-top: 8px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.catalogue__slide_desc {
	margin-top: 22px;

	p, .farm-title {
		font-family: $montserrat;
	}

	p {
		font-size: 13px;
		color: #788089;
	}

	span {
		color: #37383E;
	}

	.farm-title {
		font-size: 18px;
	}

	.purple-text {
		color: #92278F;
	}

	.farm-title,
	.farm-cost,
	.availability {
		margin: 0 22px;
		padding: 10px 0;
	}

	.farm-income,
	.farm-cost,
	.farm-rent {
		display: flex;
		justify-content: space-between;
	}

	.income__month,
	.income__year {
		margin: 0;
		padding: 10px 22px;

		@include breakpoint(max-width 767px) {
			padding: 10px 18px;
		}
	}

	.income__month {
		background-color: #E8EAEC;
	}

	.income__year {
		background-color: #F4F4F4;

		@include breakpoint(max-width 767px) {
			padding-left: 15px;
		}
	}

	.farm-rent {
		padding: 10px 0;
	}

	.rent__month,
	.rent__service {
		padding: 0 22px;
	}

	.farm-cost,
	.farm-rent {
		border-bottom: 1px solid #EBECF0;
	}

	.income__month,
	.income__year,
	.farm-cost p,
	.farm-cost .buy-button,
	.rent__month,
	.rent__service {
		width: 50%;
	}

	.income__month p,
	.income__year p,
	.farm-cost p,
	.rent__month p,
	.rent__service p {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.rent__month {
		border-right: 1px solid rgba(229,229,229,1);
	}

	.aval {
		display: flex;

		img {
			margin-right: 10px;
		}
	}

	.buy-button {
		padding: 10px 0;
		text-align: center;
		color: white;
		background-color: #92278F;
		border: none;
		border-radius: 2px;
		transition: box-shadow 0.2s;
	}
}

.catalogue-index__all {
	margin-top: 50px;

	@include breakpoint(max-width 767px) {
		margin-top: 15px;
	}

	.all-farms {
		display: block;
		width: 270px;
		padding: 15px 0;
		font-family: $montserratLight;
		font-size: 22px;
		color: white;
		text-align: center;
		border: 0;
		border-radius: 2px;
		background-color: #92278F;
		box-shadow: 0 4px 10px 0 rgba(94,31,92,0.5);
		cursor: pointer;

		@include breakpoint(max-width 767px) {
			margin: 0 auto
		}
	}
}

.cloud {
	margin-top: 30px;

	@include breakpoint(max-width 767px) {
		margin-top: 25px;
	}

	.cloud__title {
		text-align: center;
	}
}

.cloud__blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	@include breakpoint(max-width 1024px) {
		width: 100%;
		height: 370px;
		overflow-x: auto;
	}

	@include breakpoint(max-width 767px) {
		justify-content: space-around;
		flex-wrap: wrap;
		height: auto;
		margin-top: 15px;
	}
}

.cloud__block {
	width: 330px;
	padding-top: 23px;
	padding-right: 32px;
	padding-bottom: 28px;
	padding-left: 22px;
	background-color: #FFFFFF;
	border: 1px solid #EBECF0;
	border-radius: 2px;

	@include breakpoint(max-width 1200px) {
		width: 300px;
		padding: 20px;
	}

	@include breakpoint(max-width 1023px) {
		min-width: 350px;
		height: 360px;
		margin-right: 10px;
	}

	@include breakpoint(max-width 767px) {
		min-width: 100%;
		height: auto;
		margin-top: 10px;
		margin-right: 0;
		padding: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	&:hover {
		box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
	}

	.cloud__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.cloud__block_title {
			font-size: 24px;
		}
	}

	.cloud__content-autoBtc {
		margin-top: 20px;
	}

	.cloud__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 30px;
		padding-top: 20px;
		border-top: 1px solid #EBECF0;

		.arend {
			width: 160px;
			padding: 10px 0;
			color: white;
			background-color: #92278F;
			border: none;
			border-radius: 2px;
			cursor: pointer;
		}
		
		p {
			font-size: 24px;
			line-height: 1;

			span {
				display: block;
				width: 100%;
				margin-top: 5px;
			}
		}
	}
}

.techpark {
	margin-top: 26px;

	.techpark__desc-title {
		font-family: $montserratBlack;
		font-size: 72px;
		color: #E8EAEC;
		text-transform: uppercase;

		@include breakpoint(max-width 767px) {
			display: none;
		}
	}

	h3 {
		position: absolute;
		top: 135px;
		transform: translateY(-50%);
		left: 5px;
		font-family: $montserratBlack;
		font-size: 36px;
		color: #37383E;

		@include breakpoint(max-width 1200px) {
			left: 50px;
		}

		@include breakpoint(max-width 1023px) {
			left: 30px;
		}

		@include breakpoint(max-width 767px) {
			position: static;
			transform: translateY(0);
			font-family: $montserrat;
			font-size: 20px;
			color: white;
		}
	}
}

.techpark__desc {
	padding-top: 90px;

	.container {
		background-image: url(../img/build.png);
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 63%;

		@include breakpoint(max-width 1200px) {
			background-position: 125% 8%;
			background-size: 63%;
		}

		@include breakpoint(max-width 1023px) {
			background-image: url(../img/build.png);
			background-position: 45vw 58%;
			background-size: 95%;
		}

		@include breakpoint(max-width 767px) {
			background: none
		}
	}

	@include breakpoint(max-width 767px) {
		padding: 20px 0;
		background-image: url(../img/house-cut.jpg);
		background-size: cover;
		background-position: center;
		color: white;
	}
	
	p {
		max-width: 350px;
		width: 100%;
		margin-top: 30px;
		line-height: 1.33;

		@include breakpoint(max-width 767px) {
			max-width: 100%;
			margin-top: 15px;
		}
	}

	a {
		display: block;
		width: 145px;
		margin-top: 30px;
		padding: 10px 0;
		font-family: $montserrat;
		color: #3B424B;
		text-align: center;
		border: 1px solid #92278F;
		border-radius: 2px;
		background-color: white;

		@include breakpoint(max-width 767px) {
			margin-top: 15px;
		}
	}
}

.techpark__features {
	position: relative;
	margin-top: 125px;
	background-color: white;

	@include breakpoint(max-width 767px) {
		margin-top: 20px;
	}

	.techpark__features-title {
		position: absolute;
		top: -58px;
		font-family: $montserratBlack;
		font-size: 72px;
		color: #e8eaec;
		z-index: 0;

		@include breakpoint(max-width 767px) {
			position: static;
			font-family: $montserrat;
			color: #37383E;
			font-size: 18px;
		}
	}
}

.features__blocks {
	position: relative;
	display: flex;
	justify-content: space-between;

	@include breakpoint(max-width 1024px) {
		flex-wrap: wrap;
	}

	@include breakpoint(max-width 767px) {
		display: block;
		margin-top: 10px;
	}

	.features__block {
		width: 254px;
		height: 273px;
		padding-top: 22px;
		padding-right: 10px;
		padding-left: 23px;
		background-color: #F4F4F4;

		@include breakpoint(max-width 1200px) {
			width: 224px;
			height: 285px;
			padding-left: 15px;
			padding-bottom: 10px;
		}

		@include breakpoint(max-width 1023px) {
			width: 49%;

			&:nth-child(n + 3) {
				margin-top: 15px;
			}
		}

		@include breakpoint(max-width 767px) {
			width: 90vw;
			height: 216px;
			margin-right: 10px;

			&:nth-child(n + 3) {
				margin-top: 0;
			}
		}

		img {
			height: 57px
		}

		h4 {
			margin-top: 30px;
			font-family: $montserratExtraBold;
			font-size: 18px;
			line-height: 1.2;

			@include breakpoint(max-width 1200px) {
				margin-top: 20px;
			}

			@include breakpoint(max-width 767px) {
				font-family: $montserrat;
				font-size: 16px;
			}
		}

		p {
			margin-top: 7px;
			line-height: 1.2;

			@include breakpoint(max-width 767px) {
				margin-top: 2px;
			}
		}
	}
}

.bid {
	min-height: 500px;
	margin-top: 100px;
	padding-top: 75px;
	background: url(../img/1920.png) no-repeat;
	background-size: cover;
	background-position: right center;

	@include breakpoint(max-width 1200px) {
		background: url(../img/1024.png) no-repeat;
		background-size: cover;
		background-position: right center;
	}

	@include breakpoint(max-width 1023px) {
		background: url(../img/768.png) no-repeat;
		background-size: cover;
		background-position: right center;
	}

	@include breakpoint(max-width 767px) {
		min-height: inherit;
		padding: 30px 0;
		background: url(../img/romb.png) no-repeat;
		background-size: cover;
		background-position: right;
	}
}

.bid__desc {
	max-width: 400px;
	width: 100%;
	color: white;
	margin-top: 50px;

	@include breakpoint(max-width 767px) {
		max-width: 100%;
	}

	p {
		max-width: 350px;
		margin-top: 13px;
		line-height: 1.25;

		@include breakpoint(max-width 767px) {
			max-width: 100%;
		}
	}

	a {
		display: block;
		width: 290px;
		margin-top: 50px;
		padding: 14px 0;
		font-size: 22px;
		color: white;
		text-align: center;
		border-radius: 2px;
		background-color: #92278F;
		box-shadow: 0 4px 10px 0 rgba(94,31,92,0.5);

		@include breakpoint(max-width 767px) {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.provider {
	margin-top: 60px;

	@include breakpoint(max-width 767px) {
		margin-top: 30px;
	}
}

.provider__desc {
	display: flex;
	margin-top: 30px;

	@include breakpoint(max-width 1023px) {
		flex-direction: column;
	}

	@include breakpoint(max-width 767px) {
		margin-top: 10px;
	}

	.provider__text {
		width: 350px;
		margin-right: 30px;

		@include breakpoint(max-width 1200px) {
			width: 255px;
		}

		@include breakpoint(max-width 1023px) {
			width: 100%;
		}

		p {
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}

			@include breakpoint(max-width 1200px) {
				margin-top: 10px;
			}

			@include breakpoint(max-width 767px) {
				margin-top: 5px;
			}
		}
	}

	.provider__serts {
		@include breakpoint(max-width 1023px) {
			margin-top: 40px;	
		}

		@include breakpoint(max-width 767px) {
			display: flex;
			margin-top: 20px;
			padding-bottom: 10px;
			overflow-x: auto;
		}

		img {
			width: 122px;
			height: 176px;
			margin-right: 27px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
			}

			@include breakpoint(max-width 1200px) {
				width: 106px;
				height: 153px;
			}

			@include breakpoint(max-width 1023px) {
				width: 119px;
				height: 172px;
			}

		}
	}
}

.warranty {
	margin-top: 66px;
	padding-top: 95px;
	padding-bottom: 110px;
	background-image: url(../img/warranty.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@include breakpoint(max-width 1200px) {
		background-size: contain;
	}

	@include breakpoint(max-width 1023px) {
		display: none;
	}

	@include breakpoint(max-width 767px) {
		display: block;
		height: 560px;
		margin-top: 50px;
		padding-top: 30px;
		background-image: url(../img/warranty-mob.png);
		background-size: cover;
		background-position: bottom;
	}
}

.warranty__blocks {
	display: flex;
	margin-top: 20px;

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
	}
}

.warranty__block {

	@include breakpoint(max-width 767px) {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 15px;
		padding-top: 10px;
		border-top: 1px solid #788089;

		&:first-child {
			border-top: none;
		}
	}

	.warranty__number {
		display: flex;
		align-items: center;
		margin-right: 50px;

		@include breakpoint(max-width 1200px) {
			margin-right: 25px;
		}

		@include breakpoint(max-width 767px) {
			min-width: 25px;

			.warranty__arrow {
				display: none;
			}
		}

		span {
			margin-right: 45px;
			font-family: $montserratLight;
			font-size: 48px;

			@include breakpoint(max-width 1200px) {
				margin-right: 35px;
			}

			@include breakpoint(max-width 767px) {
				margin-right: 0;
				font-size: 24px;
			}
		}
	}

	.warranty__text {
		p {
			line-height: 1.25;
		}

		@include breakpoint(max-width 767px) {
			br {
				display: none;
			}
		}
	}
}

.delivery__wrap {
	position: relative;
	top: 50px;
	padding-top: 43px;
	padding-bottom: 50px;
	padding-left: 50px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
	z-index: 4;

	@include breakpoint(max-width 1200px) {
		padding-right: 30px;
		padding-left: 30px;
	}

	@include breakpoint(max-width 767px) {
		padding: 20px 15px;
	}
}

.delivery__blocks {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;

	@include breakpoint(max-width 1023px) {
		justify-content: space-around;
	}

	@include breakpoint(max-width 767px) {
		justify-content: flex-start;
	}

	p:first-of-type {
		padding-bottom: 5px;
	}

	.delivery__block {
		margin-top: 36px;
		margin-right: 30px;

		@include breakpoint(max-width 1200px) {
			margin-right: 15px;
		}

		@include breakpoint(max-width 767px) {
			margin-top: 20px;
			margin-right: 0;

			.filter__recount_delivery {
				display: block;
			}
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.delivery__choise {
	display: flex;

	@include breakpoint(max-width 767px) {
		width: 270px;
	}

	label,
	.another_place {
		padding: 10px 30px;
		border: 1px solid #EBECF0;
		cursor: pointer;

		@include breakpoint(max-width 767px) {
			width: 50%;
			padding: 10px 18px;
		}

		&:first-of-type {
			border-right: none;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-of-type {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	.another_place {
		cursor: default;
	}

	label[for="to_techpark"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	[type="radio"]:checked + label {
		color: white;
		background-color: #92278F;
		border-color: #92278F;
	}

	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
		position: absolute;
		left: -9999px;
		z-index: -999;
	}
}

.delivery__count {
	display: flex;
	align-items: flex-end;

	@include breakpoint(max-width 767px) {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.filter__recount {
		margin-right: 50px;

		@include breakpoint(max-width 767px) {
			margin-right: 0;
		}
	}

	.final__cost {
		font-size: 36px;
		border-bottom: 2px solid #92278F;

		@include breakpoint(max-width 767px) {
			font-size: 24px;
		}
	}
}

#delivery_select {
	margin-right: 15px;

	@include breakpoint(max-width 767px) {
		margin-right: 0;
	}
}

.footer__contacts {
	
	padding-top: 76px;
	padding-bottom: 110px;
	background-image: url(../img/cntc_back.png);
	background-repeat: no-repeat;
	background-size: 72% 100%;
	background-position: right;

	.container {
		display: flex;
		justify-content: space-between;
	}

	@include breakpoint(max-width 1200px) {
		background-size: 80% 100%;
	}

	@include breakpoint(max-width 1023px) {
		padding-top: 34px;
		padding-bottom: 0;
		background-image: none;

		.container_contacts {
			flex-wrap: wrap;
			padding: 0;
		}
	}

	@include breakpoint(max-width 767px) {
		padding-top: 0;
	}
}



.contacts {
	background-color: white;

	@include breakpoint(max-width 1023px) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 25px;
		padding-bottom: 30px;
		padding-left: 25px;
	}

	@include breakpoint(max-width 767px) {
		padding: 0 10px;
		padding-top: 20px;
		padding-bottom: 25px;
	}
}

.contacts__title {
	@include breakpoint(max-width 1023px) {
		width: 100%;
	}

	@include breakpoint(max-width 767px) {
		font-family: $montserrat;
		font-size: 20px;
	}
}

.contacts__block {
	margin-top: 50px;

	@include breakpoint(max-width 1023px) {
		margin-top: 23px;
	}

	@include breakpoint(max-width 767px) {
		display: flex;
		align-items: center;

		img {
			margin-right: 20px;
			opacity: 0.15;
		}
	}

	.contacts__block_phone,
	.contacts__block_telegram {
		font-size: 24px;

		@include breakpoint(max-width 767px) {
			font-size: 18px;
		}
	}

	.contacts__block_email {
		font-size: 18px;

		@include breakpoint(max-width 1023px) {
			font-size: 24px;
		}

		@include breakpoint(max-width 767px) {
			font-size: 18px;
		}
	}

	a {
		color: #92278F;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}


.address {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	color: white;

	@include breakpoint(max-width 1023px) {
		width: 100%;
		padding-right: 25px;
		padding-left: 25px;
		padding-bottom: 30px;
		background-color: #3B424B;
	}

	@include breakpoint(max-width 767px) {
		flex-wrap: wrap;
		padding-top: 25px;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	.address__city {
		margin-right: 30px;

		&:last-of-type {
			margin-right: 0;
		}

		@include breakpoint(max-width 767px) {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-right: 0;

			&:nth-child(n + 2) {
				margin-top: 30px;
			}
		}

		.address__city_title {
			font-family: $montserrat;
			font-size: 18px;
		}

		.address__city_address {
			margin-top: 5px;
			line-height: 1.25;

			@include breakpoint(max-width 767px) {
				margin-top: 0;
				br {
					display: none;
				}
			}
		}

		@include breakpoint(max-width 767px) {
			.address__city_title,
			.address__city_address {
				padding-left: 15px;
			}
		}

		.address__city_map {
			margin-top: 15px;

			@include breakpoint(max-width 1200px) {
				width: 290px;
				height: 250px
			}

			@include breakpoint(max-width 1023px) {
				width: 335px;
				height: 258px
			}

			@include breakpoint(max-width 767px) {
				width: 100%;
			}
		}
	}
}

.delivery__choise .activeInput {
    color: white;
    background-color: #92278f;
    border-color: #92278f;
}
