.back {
	font-family: $montserrat;
	font-size: 20px;
	color: #92278F;

	img {
		margin-right: 5px;
	}
}
.single-news {
	margin-top: 80px;

	@include breakpoint(max-width 1023px) {
		margin-top: 30px;
	}

	@include breakpoint(max-width 767px) {
		margin-top: 15px;
	}

	.container_gray {
		margin-top: 35px;

		@include breakpoint(max-width 1023px) {
			margin-top: 20px;
		}
	}
}

.news__header_single {
	font-size: 24px;

	@include breakpoint(max-width 767px) {
		font-size: 18px;
	}
}

.single__header,
.single__content,
.single__footer {
	padding-left: 90px;
	padding-right: 40px;

	@include breakpoint(max-width 1023px) {
		padding: 0;
	}
}

.single__header {
	padding-top: 43px;

	@include breakpoint(max-width 1023px) {
		padding-top: 20px;
	}

	@include breakpoint(max-width 767px) {
		padding-top: 0;
	}

	time {
		display: inline-block;
		margin-top: 25px;

		@include breakpoint(max-width 1023px) {
			margin-top: 15px;
		}
	}
}

.single__content {
	margin-top: 22px;

	.single__content_featured {
		display: flex;
		justify-content: space-between;
	}

	.single__content_img {
		max-width: 570px;
		width: 100%;

		img {
			width: 100%;
		}
	}

	.single__content_soc {
		display: flex;
		flex-direction: column;

		a {
			margin-top: 15px;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	.single__content_text {
		margin-top: 45px;

		@include breakpoint(max-width 767px) {
			margin-top: 20px;
		}

		p {
			margin-top: 10px;
			line-height: 1.25;

			&:first-of-type {
				margin-top: 0;
			}
		}

		img {
			max-width: 100%;
		}
	}
}

.single__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 55px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #92278F;

	@include breakpoint(max-width 1023px) {
		margin-right: -25px;
		margin-left: -25px;
		padding-right: 25px;
		padding-left: 25px;
	}

	@include breakpoint(max-width 767px) {
		margin-top: 20px;
		margin-right: -10px;
		margin-left: -10px;
		padding: 10px;
	}

	h3 {
		color: white;
		font-size: 24px;

		@include breakpoint(max-width 767px) {
			font-size: 18px;
		}
	}
}

.news_single {
	padding: 55px 0;

	@include breakpoint(max-width 767px) {
		padding: 20px 0;
	}
}

.news__blocks_single {
	margin-top: 35px;

	@include breakpoint(max-width 767px) {
		margin-top: 15px;
	}
}