$montserratBlack: 'Montserrat-Black', sans-serif;
$montserratBold: 'Montserrat-Bold', sans-serif;
$montserratExtraBold: 'Montserrat-ExtraBold', sans-serif;
$montserrat: 'Montserrat-Regular', sans-serif;
$montserratLight: 'Montserrat-Light', sans-serif;
$opensans: 'OpenSansRegular', sans-serif;

@mixin hoverOpacity {
    transition: opacity 0.2s;
    &:hover, &:focus, &:active{
        opacity: 0.8;
        transition: opacity 0.2s;
    }
}

html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-weight: inherit;
    font-style: inherit;
    font-family: $opensans;
    color: #37383E;
    text-align: left;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

h2, h3, h4 {
    margin: 0;
    font-family: $montserratLight;
    font-weight: normal;
}

h2 {
    font-size: 36px; 
}

p, figure {
    margin: 0;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

.dflexcolumn {
    display: flex;
    flex-direction: column;
}

.fs13 {
    font-size: 13px;
}

.fs18 {
    font-size: 18px;
}

.dashedBorder {
    border-bottom: 1px dashed rgba(146,39,143,0.5);
}

.greytext {
    color: #788089;
}