.active_menu {
    border-bottom: 1px solid #788089;
    opacity: 0.7;
}

.filter__list-button {
    display: flex;

    @include breakpoint(max-width 1023px) {
        margin-top: 40px
    }
}
.filter__select_wrap {
    position: relative;
    width: 320px;
    margin-right: 10px;

    @include breakpoint(max-width 1023px) {
        width: 230px;
    }
    .filter__select_title {
        position: absolute;
        top: -20px;
        font-size: 13px;
        color: #4A4A4A;
    }
    .filter__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        padding: 10px 15px;
        border: 1px solid #EBECF0;
        border-radius: 4px;
        cursor: pointer;

        @include breakpoint(max-width 1023px) {
            width: 230px;
        }
        .filter__select_active {
            color: #4A4A4A;
            
            @include breakpoint(max-width 1023px) {
                display: block;
                width: 168px;
                white-space: nowrap;
                text-overflow: hidden;
                overflow-x: hidden;
            }
        }
        img {
            transition: all 0.4s;
        }
    }
    .rotate180 {
        transform: rotate(180deg);
        transition: all 0.4s;
    }
    .filter__select_list {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        margin: 0;
        padding: 0 15px;
        list-style: none;
        border: 1px solid #EBECF0;
        border-top: none;
        border-bottom: none;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.2s;
        z-index: 2;

        li {
            min-height: 40px;
            padding: 10px 0;
            flex-shrink: 0;
            cursor: pointer;

            @include breakpoint(max-width 1023px) {
                display: block;
                width: 168px;
                white-space: nowrap;
                text-overflow: hidden;
                overflow-x: hidden;
            }
        }
    }
    .open_list {
        border-bottom: 1px solid #EBECF0;
        border-top: none;
    }
}

.filter__select_opened {
    border-bottom-left-radius: 0;
}
.filter__recount {
    width: 145px;
    padding: 10px 0;
    color: white;
    background-color: #92278F;
    border: 1px solid #92278F;
    border-radius: 2px;
    cursor: pointer;
}

.news {
    padding-top: 145px;
    padding-bottom: 70px;
    background-color: #F4F4F4;
}

.news_index {
    @include breakpoint(max-width 1023px) {
        .news__block:last-child {
            display: none;
        }
    }
}

.news_white {
    background-color: white;
}

.page__title {
    font-size: 48px;
}

.main-news {
    margin-top: 65px;
}

.news_page {
    margin-top: 10px;
    padding: 0;
}

.news__header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;

    a {
        font-family: $montserrat;
        font-size: 20px;
        color: #37383E;
    }
}

.news__blocks {
    display: flex;
    width: 99.9%;
    margin-top: 10px;

    @include breakpoint(max-width 1023px) {
        width: 100%;
        justify-content: space-between;
    }

    .news__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33.3%;
        min-height: 495px;
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 40px;
        padding-left: 30px;
        background-color: #F4F4F4;
        border-right: 1px solid white;

        @include breakpoint(max-width 1200px) {
            padding-left: 15px;
        }

        @include breakpoint(max-width 1023px) {
            width: 49%;
            background-color: white;
        }

        &:last-of-type {
            border-right: none;
        }

        &:hover {
            background-color: white;
            box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);
        }

        .featured_img {
            display: block;
            width: 256px;
            height: 171px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .article__title {
            margin-top: 23px;

            a {
                font-family: $montserrat;
                font-size: 18px;
                color: #37383E;
                line-height: 1.25;  
            }
        }

        .article__text {
            margin-top: 10px;
            line-height: 1.25;
        }

        time {
            margin-top: 15px;
        }
    }
}

.news__blocks_wrap {
    flex-wrap: wrap;
}

.container_gray {
    background-color: #F4F4F4;
}

.page-wrap {
    background-image: url(../img/header-bg.png);
    background-position-x: center;
    background-repeat: no-repeat;
}

.page-wrap_about {
    background: url(../img/about.png) no-repeat,
                url(../img/header-bg.png) no-repeat;
    background-position: 50% 21%,50% 0;
    background-size: 100%, 100%;
}