.container {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/*@media (min-width: 768px) {
    .container {
        width: 766px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}*/

@media (min-width: 1120px) {
    .container {
        width: 1120px;
    }
}
