.container {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 320px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 0 25px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 50px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1120px;
    }
}

