.footer {
	background-color: #F4F4F4;
}

.footer__about {
	padding-top: 48px;
	padding-bottom: 35px;
	border-bottom: 1px solid #E5E5E5;
	p {
		line-height: 1.25;
	}

	@include breakpoint(max-width 576px) {
		display: none;
	}
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 30px;

	@include breakpoint(max-width 576px) {
		flex-wrap: wrap-reverse;
		padding: 20px 0;

		.footer__copyright {
			width: 100%;
			padding-top: 15px;
			text-align: center;
		}
		
		.footer__nav {
			display: flex;
			justify-content: space-around;
			width: 100%;
			padding-bottom: 17px;
			border-bottom: 1px solid #E5E5E5;
		}
	}
	.footer__nav_link {
		margin-right: 50px;

		@include breakpoint(max-width 576px) {
			margin-right: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}