.footer {
	background-color: #F4F4F4;
}

.footer__about {
	padding-top: 48px;
	padding-bottom: 35px;
	border-bottom: 1px solid #E5E5E5;
	p {
		line-height: 1.25;
	}
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 30px;

	.footer__nav_link {
		margin-right: 50px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}